body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background: rgb(218,213,225);
    background: radial-gradient(circle, rgba(218,213,225,1) 0%, rgba(190,223,234,1) 100%);
    font-family: 'Noto Serif JP', serif;
    color: #6B728E;
}

div#audio-container {
    display: flex;
    justify-content: center;
    margin-bottom:50px;
}

div#title {
    font-size: 48px;
    text-align: center;
}

div#title h1 {
    font-weight: normal;
}

div#controls {
    text-align: center;
    font-size: 24px;
    font-family: 'Noto Sans JP', sans-serif;
}

div#credit {
    text-align: end;
    margin-right: 50px;
    font-size: 24px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #6B728E70;
}